
@media only screen and (min-width: 1441px) {
  .searchResultContainer {
      max-width: 1440px;
      min-width: 1440px;
      overflow: hidden;
  }
}


@media only screen and (min-width: 1024px) {
  .filters--layout {
      padding: 20px;
      background: #fff;
  }
}

.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
 
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}

.galleryItem--grid {
  padding: 0px;
  background-color: #fff;
}

.gallery {
  padding: 0px;
}

.galleryTitle--layout {
  font-size: 1.75rem;
}

.buttonShowMore {
  margin-top: 30px;
}