
/* Home Nuevos Productos Container*/
.flexRow--home-block {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 10px;
}

.flexRow--CardPDP{
  padding: 10px;
  border-radius: 15px;
  max-width: 1440px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
}

.flexRow--NuevosProductosCard{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
  max-width: 1440px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
}

.flexRow--CardContainer{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
  max-width: 1440px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
}

.flexRow--QuickAccessCards{
  margin-top: 20px;
}

@media screen and (max-width: 1440px) {
  .flexRow--home-block {
      max-width: 1280px;
      padding: 0 10px 10px;
  }
}

.flexCol--card-local {
    box-shadow: 0 0 1px #ddd;
    margin: 10px;
    border-radius: 4px;
    transition: .2s ease-in-out;
    padding: 10px;
    margin-bottom: 20px;
    transition: box-shadow .3s;
}

.flexCol--card-local:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.flexRow--row-locales {
  margin-bottom: 1.5rem;
}

.flexCol--summaryListDesktopPLP {
  padding: 10px;
}

.flexRowContent--promotional-banner{
  padding: 0 0.5rem;
}


@media screen and (min-width: 40em) {
  .flexRowContent--promotional-banner{
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--promotional-banner{
    padding: 0 0rem;
  }
}

.flexRowContent--promotional-banner {
  background-color: #fec600;
  color: #fff;
}

.flexRow--desktop-menu {
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
  background: #272727;
  padding: 4px 0;
  display: flex;
}

.flexRowContent--main-header {
  background-color: #000000;
  padding-top: 0px;
  padding-bottom: 0px;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #000000;
}

.flexRowContent--main-header-mobile-search {
  align-items: center;
  background-color: #ffffff;
}

.flexRowContent--promotional-banner :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 2rem;
}

.flexRow--deals {
  background-color: #0F3E99;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRowContent--summaryLeftListDesktop .stretchChildrenWidth {
  width: 50% !important;
  justify-content: center;
  padding: 10px;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--row-search-content {
  background-color: #fff;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
  margin-right: 10px;
}

.flexCol--productCountCol {
  align-items: flex-start;
  background: #fff;
}

.flexRowContent--orderByAndSwitcher {
  background: #fff;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexColChild--filterCol {
  max-width: 500px;
  min-width: 240px;
  margin-right: 10px;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--faq {
  max-width: 700px;
  margin: auto;
  text-align: ce;
}

.flexRowContent--menu-row-footer{
  padding-left: 10%;
  padding-right: 10%;
  color: #000000;
 /*  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
  background: #272727; */
}

.flexRow--mobile-row {
  max-height: 80%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.flexRowContent--payment-methods{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.flexCol--payment-methods {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
