.listPrice {
  color: #5c5c5c;
  margin-bottom: .25rem;
  font-size: 1.25rem;
}

.sellingPrice {
  color: #ff0303;
  font-size: 1.25rem;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
  color: #ff0303;
}

.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ff0303;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
   /* Escondemos el texto original (el nodo de texto 'Hasta') */
    visibility: hidden;
    /* Evitamos que ocupe espacio si es necesario, aunque visibility suele bastar */
    font-size: 0;
}

/*Mostrar Desde */

/* Creamos el nuevo texto 'Desde' */
.installments::before {
    content: "Desde: ";
    visibility: visible;
    /* Debes restaurar el tamaño de fuente original aquí */
    font-size: 1rem; 
    /* Opcional: añade estilos para que coincida con el diseño */
    color: inherit;
}



/* Nos aseguramos de que el resto de los números y palabras sigan siendo visibles */
.installments :global(.vtex-product-price-1-x-installmentsNumber),
.installmentsNumber,
.installmentsNumber--1,
.installmentValue {
    visibility: visible;
    font-size: 1rem; /* O el tamaño que uses en tu tienda */
}

/* Creamos el nuevo texto 'X' */
.installmentsNumber::after {
    content: " cuota(s) de ";
    visibility: visible;
    /* Debes restaurar el tamaño de fuente original aquí */
    font-size: 1rem; 
    /* Opcional: añade estilos para que coincida con el diseño */
    color: inherit;
}

/* Fin Mostrar desde*/

.savings {
  font-weight: 500;
  color: #66af14;
}

.savingsValue {
  font-size: 1.25rem;
  font-weight: 700;
  color: #66af14;
}



.savings--summary {
  background: #66af14;
  border-radius: 1000px;
  align-items: center;
  display: flex;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
