.contentContainer--home-block {
  padding: 20px;
 
  background-color: #e1e7ed;
}

.contentItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.flexRow--CustomCard{
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  max-width: 1440px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
}

.listItem--tab-list-item-tallas-productos{
  font-size: 20px;
  color: #000000;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.listItemActive {
  color: #ff0f13;
  font-size: 22px;
  font-weight: bold;
}