
.minicartContainer :global(.vtex-button):hover {
    background: none;
}

.minicartContainer :global(.vtex-button) {
    color: #fff!important;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* .minicartContainer::after {
    color: #fff!important;
    content: "Mi Carrito";
    font-size: 12px;
    text-transform: none;
    white-space: nowrap;
} */


.minicartIconContainer  {
    color: #fff;
}

.minicartProductListContainer {
  padding-left: 10px;
  padding-right: 10px;
}

.minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow) {
  margin-top: 10px;
  border-radius: 15px;
  background-color: #fff;
}

.minicartCheckoutButton {
  
}

.minicartTitle {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.closeIconButton {
  background-color: #3a3a37;
    color: #fff;
    height: 31px;
    width: 31px;
    padding: 0;
    border-radius: 0 0 5px;
}

.minicartIconContainer {
  color: #fff !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.minicartIconContainer::after {
  color: #fff !important;
  font-weight: bold;
  content: "Mi Carrito";
  font-size: 12px;
  text-transform: none;
  white-space: nowrap;
}