.triggerButtonIcon,
.triggerContainer  {
  color: #fff !important;
}

/*Contenedor*/
.styledLinkContainer--header-option {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 0.5rem; 
  margin-right: 0.5rem;
}

/*Item menu */
.styledLinkContent--header-option {
  color: #fff;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px 8px;
  font-size: 1rem;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 35px;
}

.styledLinkContent {
  color: #fff;
}

.styledLinkContent--menu-item-mobile{
  font-size: 1.5rem;
}

.styledLinkContent--menu-item-mobile:hover{
  color: #b91717;
  font-size: 1.5rem;
}

.styledLinkContent--header-option:hover {
  background-color: #000;
}

.styledLinkContainer--footerlink {
  font-size: 12px;
  margin-left: 0px;
  margin-right: 0px;
  color: black;
}

.menuContainerNav--footer-links .styledLinkContainer {
  margin-left: 0px;
}


/* .menuItem .styledLink:hover{
  color: white !important;
}
 */

.styledLink--footerlink { 
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.styledLink--footerlink:hover { 
  background-color: #b91717;
}

/* FLOTTING WHATSAPP */
 .styledLink--icono-button-floting {
  display: flex;
  background-color: #25d366;
  width: 60px;
  height: 60px !important;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: all 0.4s;
  color: #fff;
  box-shadow: 2px 2px 3px #999;
}

.styledLink--icono-button-floting:hover {
  background-color: aliceblue;
  color: #25d366;
}

.styledLinkIcon--icono-button-floting {
  font-size: 0;
}

.menuItem--icono-button-floting {
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 100;
}
.menuItem--icono-button-floting:hover {
  background: transparent !important;
}

.styledLinkContent--footerlink {
  color: #000;
}

@media (max-width: 1025px) {
  .menuItem--icono-button-floting {
    right: 10px;
    bottom: 10px;
  }

  .styledLinkContainer--icono-button-floting {
    margin: 0 !important;
  }

  .styledLink--icono-button-floting {
    width: 52px;
    height: 52px !important;
  }

  .styledLinkContent--footerlink {
    justify-content: center;
    font-size: 1.2rem;
  
  }

  
}
