.removeButton {
  background-color: red;
  border-radius: 25%;
  margin: 10px;
}

.deleteIcon {
  color: white;
}

.productBrandName {
  font-weight: bold;
}

.productName {
  font-weight: bold;
  line-height: normal;
  font-size: 1rem;
}
