.menuItem  {
    border-bottom: 2px solid transparent;
}


.menuItem:hover  {
  background-color: #bebdbd;
  transition: all .3s;
  cursor: pointer;

}

.styledLinkContainer {

}

.menuContainerNav--footer-links .styledLinkContainer {
  margin-left: 0px;
}


/* .menuItem .styledLink:hover{
  color: white !important;
}
 */
