.menuItem  {
    border-bottom: 2px solid transparent;
}


.menuItem:hover  {
  background-color: #bebdbd;
  transition: all .3s;
  cursor: pointer;

}

/* .menuItem .styledLink:hover{
  color: white !important;
}
 */
