.label {
    text-transform: none;
    display: flex;
    color: #fff;
    text-align: left;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 0 0;
    flex-direction: column;
    font-weight: 400;
    white-space: nowrap;
}

.label:before {
    content: '';
    display: block;
    float: left;
    background-size: contain;
    background-image: url(https://coolboxpe.vtexassets.com/arquivos/sesion260623-2.svg);
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
}

.container :global(.vtex-button):hover {
    background: none;
}

.accessCodeOptionBtn :global(.vtex-button), .emailPasswordOptionBtn :global(.vtex-button) {
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  color:#fff ;
  background-color: #d70d27;
}
