.wrapper {
  width: 100%;
}

.wrapper--question, .wrapper--acercade {
  width: auto;
}

.paragraph--title-card-local{
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

.paragraph--title-custom-locales-page{
  margin-top: 1.5rem;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.5rem;
}

.paragraph--description-card-local{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1rem;
}


.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #080808;
  justify-content: center;
  text-align: center;
}

.container--promotionalText {
  font-size: 14px;
}

.container--terminos-condiciones {
  text-align: justify;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link, .container--acercade {
  justify-content: center;
  background-color: #000000;
}

.container--question {
  justify-content: center;
  background-color: #000000;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #ffffff;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: justify;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #a02d00;
}

.container--acercade .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #f5eeee;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

.container--menunivel2 {
  color: #a02d00;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container--footer-title {
  text-align: center;
  color: #a02d00;
  font-weight: bold;
  font-size: 1.5rem;
}

.paragraph--footer-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.paragraph--footer-description{
  color: #000000;
  margin-top: 5px;
  margin-bottom: 0px;
}

.paragraph--footer {
  font-size: 10px;
  text-align: center;
}

.container--footer-description {
  text-align: justify;
  font-size: 12px;
  padding-right: 1.5rem;
  margin-top: 0px !important;
}

.wrapper--footer-mobile-title {
  text-align: center;
}

.paragraph--footerlink {
  text-align: center;
  font-size: 1.2rem;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }

  .container--footer-title {
    text-align: left;
    font-size: 1rem;
  }

  
}

