.link {
    font-size: .75rem;
    color: #505050;
}

.link--1 {
    font-size: .75rem;
    color: #505050;
}

.link--2 {
    font-size: .75rem;
    color: #505050;
}

.link--3 {
    font-size: .75rem;
    color: #505050;
}

.term {
    font-size: .75rem;
    color: #e90000 !important;
}